<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="header center  teal-text darken-4">Projects</h1>
    <div class="row center">
      <h5 class="header col s12 light">A list of my recent projects. Click on a picture for more information.</h5>
    </div>
    <br>
    <br>
  </div>
</div>
<div class="container">
  <div class="row">
<!--     <div class="grid-example col s12 m6">
      <div class="card left-card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../assets/images/msgapp.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Msg App
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a href="https://angular2-msg-app-3z24.herokuapp.com/" target="_blank">View Demo</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Messaging App
            <i class="material-icons right">close</i>
          </span>
          <ul>
            <li>
              <b>Database:</b> MySQL</li>
            <li>
              <b>Framework: </b>Angular 2, ExpressJS, NodeJS</li>
            <li>
              <b>Features:</b>
            </li>
            <li>- Real-Time Messaging Updates</li>
            <li>- Caching</li>
            <li>- User Authentication</li>
            <li>- Compose Messages</li>
            <li>- Reply to Messages</li>
            <li>- Delete Messages</li>
            <li>- SCSS/SASS Styling</li>
          </ul>
          <p>
            <b>Purpose: </b>Angular 2 Messaging App is an elegant web application built with Angular 2 Framework (Version 5), MySQL
            Database, and NodeJS/ExpressJS. Some application features include Web Sockets for real-time Server-Client communication,
            User Authentication and Authorization with JSON Web Tokens and MySQL Database Session Storage, Server-side Caching
            using Redis, Custom Angular Flash Messages (and all custom SASS/SCSS styling in application), and more! Users can send
            each other messages, save drafts, and trigger live updates when receiving new messages. This Web Application features
            a RESTful API built on NodeJS and ExpressJS. It is also optimized for both desktop and mobile devices.
          </p>
        </div>
      </div>
    </div>
    <div class="grid-example col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../assets/images/navyball.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Navy Ball
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a href="javascript:void(0)" target="_blank">Under Maintenance</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Navy Ball
            <i class="material-icons right">close</i>
          </span>
          <ul>
            <li>
              <b>Database:</b> MongoDB</li>
            <li>
              <b>Framework: </b>Angular 2, ExpressJS, NodeJS</li>
            <li>
              <b>Features:</b>
            </li>
            <li>- PayPal Payment Gateway</li>
            <li>- Purchase Tickets</li>
            <li>- Seating Chart</li>
            <li>- Seat Reservations and VIP Assignment</li>
            <li>- Donations</li>
            <li>- E-mail Automation Staff/Customers</li>
            <li>- Admin panel to manage all transactions and generate excel reports</li>
          </ul>
          <p>
            <b>Purpose: </b>This application was created for the Department of the Navy, Navy Information Operations Command
            Georgia. It is meant for users of the organization to purchase Navy Ball and Golf Tournament tickets. Additionally,
            the Central Savannah Rivera Area (CSRA)'s Navy Heritage and Cultural Association committee can manage tournament
            participants, making seating arrangements for personnel and staff, as well as track transactions and generate
            reports.
          </p>
        </div>
      </div>
    </div>
    <div class="grid-example col s12 m6">
      <div class="card left-card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../assets/images/ynscreen.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Yeoman Rate
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a href="javascript:void(0)" target="_blank">Under Maintenance</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Yeoman Rate
            <i class="material-icons right">close</i>
          </span>
          <ul>
            <li>
              <b>Database:</b> MongoDB</li>
            <li>
              <b>Framework: </b>AngularJS, ExpressJS, NodeJS</li>
            <li>
              <b>Features:</b>
            </li>
            <li>- User Authentication (Register/Login)</li>
            <li>- Social Media Login (Facebook/Twitter/Google+)</li>
            <li>- User Permissions (Admin/Moderator/User)</li>
            <li>- Take Quiz</li>
            <li>- Create Quiz Questions</li>
            <li>- Track Study Progress</li>
            <li>- Manage Quiz Questions (Admin/Moderators Only)</li>
            <li>- User Rankings Based on Individual Scores</li>
            <li>- Upload Files (excel, word, pdf)</li>
            <li>- Upload Profile Picture</li>
            <li>- Post Questions w/Answer</li>
            <li>- Simple Search of Questions/Upload Files</li>
          </ul>
          <p>
            <b>Purpose: </b>Study website for U.S. Navy Yeoman. Users can access a library of quiz questions broken into different
            exam categories. They can contribute new questions, flag current questions, and track progress. Profile page displays
            progress in each category. Users will also be ranked to one another on overall progress. Additionally, users can access
            Yeoman Library to download PDF files, excel spreadsheets, word document templates, and more!</p>
        </div>
      </div>
    </div>
    <div class="grid-example col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../assets/images/meanwith2.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">MEAN 2 Blog
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a href="javascript:void(0)" target="_blank">Under Maintenance</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">MEAN Stack
            <i class="material-icons right">close</i>
          </span>
          <ul>
            <li>
              <b>Database:</b> MongoDB</li>
            <li>
              <b>Framework: </b>Angular 2, ExpressJS, NodeJS</li>
            <li>
              <b>Features:</b>
            </li>
            <li>- User Authentication (Register/Login)</li>
            <li>- Create/Delete/Edit Blog Post</li>
            <li>- Like/Dislike Blog Post</li>
            <li>- Leave Blog Post Comment</li>
          </ul>
          <p>
            <b>Purpose: </b>Application is focused on Angular 2 and how to setup a MEAN Stack environment using Angular 2. Users can
            register, login, and manage blogs. Users are able to create blog posts, edit, or delete. THey can also like or dislike
            blog posts of other users.</p>
        </div>
      </div>
    </div>
    <div class="grid-example col s12 m6">
      <div class="card single-card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../assets/images/nodejs.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">MEAN.JS
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a href="javascript:void(0)" target="_blank">Under Maintenance</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">MEAN Stack
            <i class="material-icons right">close</i>
          </span>
          <ul>
            <li>
              <b>Database:</b> MongoDB</li>
            <li>
              <b>Framework: </b>AngularJS, ExpressJS, NodeJS</li>
            <li>
              <b>Features:</b>
            </li>
            <li>- User Authentication (Register/Login)</li>
            <li>- Social Media Login (Facebook/Twitter/Google+)</li>
            <li>- User Permissions (Admin/Moderator/User)</li>
            <li>- AngularJS Search to find Users in Database</li>
          </ul>
          <p>
            <b>Purpose: </b>Application demonstrate how to setup a basic MEAN Stack application and how to implement CRUD functions.
            Users can register, login, and assign various permissions to other users. They can also search database for users based
            on various fields.</p>
        </div>
      </div>
    </div> -->
    <div class="grid-example col s12 m6">
      <div class="card single-card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../assets/images/More-coming-soon.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Coming Soon
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a href="javascript:void(0)" target="_blank">Under Construction</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Coming Soon
            <i class="material-icons right">close</i>
          </span>
          <p>Stayed tuned, more projects coming soon.</p>
        </div>
      </div>
    </div>
  </div>
</div>