
<footer class="page-footer teal darken-4">
  <div class="container">
    <div class="row">
  
      <div class="col l3 s12">
        <h5 class="white-text">Social Media</h5>
        <h5 class="white-text">
          <a class="white-text" href="https://github.com/MaharshiChetan" target="_blank">
            <i aria-hidden="true" class="fa fa-github fa-2"></i>
          </a>
          <a class="white-text disabled" href="#" target="_blank">
            <i aria-hidden="true" class="fa fa-linkedin-square fa-2"></i>
          </a>
          <a class="white-text" href="https://www.facebook.com/profile.php?id=100005709944651" target="_blank">
            <i aria-hidden="true" class="fa fa-facebook fa-2"></i>
          </a>
          <a class="white-text disabled" href="#" target="_blank">
            <i aria-hidden="true" class="fa fa-twitter fa-2"></i>
          </a>
          <a class="white-text disabled" href="#" target="_blank">
            <i aria-hidden="true" class="fa fa-youtube fa-2"></i>
          </a>
        </h5>
      </div>
  
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p class="white-text">&copy; Chetan Maharshi, 2018</p>
    </div>
  </div>
</footer>